<!doctype html>
<html class="w-100 h-100">
<head>
    {% block head %}
        <script src="/static/js/page.js"></script>
        <link rel="stylesheet"  href="/static/css/styles.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">
        <title>Environmental Data API</title>
    {% endblock %}
</head>
<body class="w-100 h-100"  style="background: #dadada;">

<div class="text-center" style="background: #ffffff;">
    {% block header %}
    {% endblock %}
</div>
<div class="pr-4 pl-4" style="background: #e5e8ea;">
    {% block content %}{% endblock %}
</div>


<div class="text-center" style="background: #dadada;">
    {% block footer %}
    {% endblock %}
</div>
</body>
</html>