<!doctype html>
<html class="w-100 h-100">
<head>
    {% block head %}
       <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
        <script src="/static/js/page.js"></script>
        <link rel="stylesheet"  href="/static/css/styles.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
              integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        <title>Environmental Data API</title>
    {% endblock %}
</head>
<body class="w-100 h-100"  style="background: #dadada;">
<div id="spinnerPanel" class="w-100 h-100" hidden>
<div class="container w-25 h-100">
    <div class="row justify-content-center h-100">
        <div class="col-auto vcenter"  style="display: flex; align-items: center;">
            <div class="spinner-border mr-4" role="status" style="width: 4rem; height: 4rem; color: #656464">
            </div>
             <div style="background: #656464;color: white;padding: 8px;border-radius: 8px;">This may take a few minutes...</div>
        </div>
    </div>
</div>
</div>
<div class="text-center" style="background: #ffffff; border-bottom: 1px solid#e2992b;">
   {% block header %}
<div class="row no-gutters">

    <div class="col-2">
        <div class="float-left p-2">
            <a href="https://52north.org/"><img height="40" src="/static/img/logo.gif" href alt="52° North"></a>
        </div>
    </div>

    <div class="col text-center">
        <h2>Environmental Data API</h2>
    </div>
    <div class="col-2 ">
    </div>
</div>
{% endblock %}
</div>
<div class="pr-4 pl-4" style="background: #e5e8ea;  height: calc(100% - 180px); overflow: auto;">
    {% block content %}{% endblock %}
</div>


<div class="text-center" style="background: #dadada; border-top: 1px solid#e2992b; height: 120px; overflow: auto">
 {% block footer %}

<small><i> All data is interpolated to match the following: <br></i>
    <small> Spatial Resolution 0.083° x 0.083° </small><br>

    <small> Temporal Resolution 3-hours interval </small>
    <div><a
            href="https://docs.google.com/spreadsheets/d/1GxcBtnaAa2GQDwZibYFbWPXGi7BPpPdYLZwyetpsJOQ/edit#gid=0">
        Click for a detailed description of the original datasets
    </a></div>
</small>
<small>
    <div><i>Licences</i> <br></div>
    <small>* E.U. Copernicus Marine Service Information</small><br>
    <small>** NOAA Global Forecast System (GFS)</small><br>
    <small>** National Centers for Environmental Prediction/National Weather Service/NOAA/U.S. Department of
        Commerce. 2015, updated daily. NCEP GFS 0.25 Degree Global Forecast Auxiliary Grids Historical Archive.
        Research Data Archive at the National Center for Atmospheric Research, Computational and Information
        Systems Laboratory. https://doi.org/10.5065/D6W09402. <br>Accessed on <i id="date"></i>.</small></small>
{% endblock %}
</div>
</body>
</html>