{% extends "base.html" %}
{% block head %}
{{ super() }} {% endblock %}

{% block content %}
<div class="row justify-content-center no-gutters pt-2 pb-5">


    <form method="get" enctype="multipart/form-data" action="./request_env_data" id="submitForm">

        <div class="col-12">
            <div class="row">

                <div class="col-6">
                    <!--
                        TIMESTAMP
                    -->
                    <div class="box-panel" id="boundingBoxPanel">
                        <legend class="m-0">Bounding Box</legend>
                        <div><small>
                            <ul style="list-style: none;">
                                <li>Maximal bbox dimension ({{ max_lat }}° lat x {{ max_lon }}° lon x {{ max_days }}
                                    days).
                                </li>
                                <li>All data is interpolated to match the following constraints:
                                    <ul style="list-style: none;">
                                        <li>Spatial Resolution: 0.083° &times; 0.083°</li>
                                        <li>Temporal Resolution: 3-hours interval</li>
                                    </ul>
                                </li>
                            </ul>
                        </small></div>
                        <fieldset class="row m-1" data-toggle="tooltip" data-placement="bottom"
                                  title="Maximal temporal bounding box size is {{ max_days }} days. Start must be before end.">
                            <legend class="m-0" style="font-size: 16px;">Temporal extent</legend>

                            <div class="col-form-label text-right">&nbsp;</div>
                            <input id="date_lo" class="form-control col-5" type="datetime-local" name="date_lo">
                            <div class="col-1 text-center mdash">&nbsp;&rarr;&nbsp</div>
                            <input id="date_hi" class="form-control col-5" type="datetime-local" name="date_hi">
                        </fieldset>
                        <!--
                            Spatial Bounding Box
                        -->
                        <fieldset class="m-2">
                            <legend class="m-0" style="font-size: 16px;">Spatial extent</legend>
                            <fieldset class="row m-1" data-toggle="tooltip" data-placement="bottom"
                                      title="Maximal latitude extent is {{ max_lat }}°; start must be lower than end. Supported values are between [-90, 90]">
                                <div class="col-form-label col-2 text-right">Latitude</div>
                                <input id="lat_lo" class="form-control col-4 bbox" type="number" name="lat_lo"
                                       value="53.08"
                                       step="any">
                                <div class="col-1 text-center mdash">&nbsp;&rarr;&nbsp</div>
                                <input id="lat_hi" class="form-control col-4 bbox" type="number" name="lat_hi"
                                       value="55.08"
                                       step="any">
                            </fieldset>
                            <fieldset class="row m-1" data-toggle="tooltip" data-placement="bottom"
                                      title="Maximal longitude extent is {{ max_lon }}°; start must be lower than end. Supported values are between [-180, 180]">
                                <div class="col-form-label col-2 text-right">Longitude</div>
                                <input id="lon_lo" class="form-control col-4 bbox" type="number" name="lon_lo"
                                       value="1.69"
                                       step="any">
                                <div class="col-1 text-center mdash">&nbsp;&rarr;&nbsp</div>
                                <input id="lon_hi" class="form-control col-4 bbox" type="number" name="lon_hi"
                                       value="6.1"
                                       step="any">
                            </fieldset>
                        </fieldset>

                    </div>
                    <!--
                         Upload csv file
                        -->
                    <div class="box-panel">
                        <fieldset class="m-3">
                            <legend data-toggle="tooltip" data-placement="bottom"
                                    title="Supported Output is only a CSV file"> Merge data into a CSV file
                            </legend>
                            <div><small>
                                <ul style="list-style: none;">
                                    <li>Upload a csv file with max. file size of 50 MB.</li>
                                    <li>The CSV file should contain one column for Longitude, Latitude and Timestamp.
                                    </li>
                                </ul>
                            </small></div>
                            <div class="row m-1">
                                <input type="file" id="csvUpload" name="csvUpload" class="col-auto m-2">
                                <a id="removeFileBtn" class="btn uploadFileTools col-auto" style="display: none">x</a>
                            </div>
                            <div class="uploadFileTools" style="display: none">
                                <div class="row m-1" data-toggle="tooltip" data-placement="bottom"
                                     title="Must be in format %Y-%m-%d %H:%M:%S">
                                    <div class="col-form-label col-2 text-right">Timestamp</div>
                                    <select id="timestamp_select" class="form-control col-3 select_header"></select>
                                </div>
                                <div class="row m-1" data-toggle="tooltip" data-placement="bottom"
                                     title="Must be in range of [-90, 90]">
                                    <div class="col-form-label col-2 text-right">Latitude</div>
                                    <select id="lat_select" class="form-control col-3 select_header"></select>
                                </div>
                                <div class="row m-1" data-toggle="tooltip" data-placement="bottom"
                                     title="Must be in range of [-180, 180]">
                                    <div class="col-form-label col-2 text-right">Longitude</div>
                                    <select id="lon_select" class="form-control col-3 select_header"></select>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div class="col-6 w-100">
                    <div id="mapid"></div>
                </div>
            </div>
        </div>

        <!--
             Enviromental Parameters
            -->
        <fieldset class="m-3">
            <legend>Enviromental Parameters</legend>
            <div id="checkbox_list" class="row no-gutters m-3"></div>
        </fieldset>
        <!--
            Format Parameters
        -->
        <fieldset class="row m-3">
            <legend>File Format</legend>
            <div class="col-10">
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="format_csv" name="format" value="csv"
                           checked="checked">
                    <label class="form-check-label" for="format_csv">CSV</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="format_netcdf" value="netcdf" name="format">
                    <label class="form-check-label" for="format_netcdf">netCDF</label>
                </div>
            </div>
        </fieldset>
        <!--
            Information
        -->
        <div class="row m-3">
            <legend>Please consider the following:</legend>
            <div><small>
                <ul style="list-style: none;">
                    <li>Missing variables or missing datasets are going to be skipped.</li>
                    <li>Requests are limited to max 1 request per 10 seconds and 70 requests per hour.</li>
                    <li>
                        <a href="https://docs.google.com/spreadsheets/d/1GxcBtnaAa2GQDwZibYFbWPXGi7BPpPdYLZwyetpsJOQ/edit#gid=0"
                           target="_blank">
                            Detailed descriptions of the original datasets
                        </a>
                    </li>
                </ul>
            </small></div>
        </div>
        <!--
            Submit
        -->
        <button class="btn btn-primary m-3" type="submit" id="submitBtn">Retrieve Data</button>
    </form>
</div>
{% endblock %}
