.Wave{
    background: #adadf9;
}
.GFS{
    background: #ffc107;
}
.Physical{
    background: #28a745;
}
.Wind{
    background: #ec8891;
}

.envLabel{
    border-radius: 9px;
    margin-right: 1px;
    word-break: break-all;
    user-select: none;
    opacity: 0.9
}
.envLabel:hover{
opacity: 1
}

.firstEnvLabel{
    border: 2px solid black
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}